@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Nunito:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: DynaPuff, cursive;
    font-weight: 300;
    color: #079997 
}
#logo {
    float: left;
    margin-right: 5%;
    margin-left: 10%;
}
#menu {
    font-size: 140%;
}
#menu, #logo {
    line-height: 75px;
}
#menu li {
    list-style-type: none;
    margin-right: 55px;
    margin-top: 55px;
    float: left;
    
}
/* navigation menu border */
.nav-box {
    border: none solid 4px;
    border-radius: 20%;
    padding: 4px;
    background-color: #fff;

}
#menu a {
    text-decoration: none;
    color: inherit
}
#menu a:hover {
    border-bottom: 4px solid #079997;
}
.active {
    border-bottom: 4px solid #079997;

}
#header-background {
    height: 200px;
    width: 100%;
    background: url(../images/20220818_212707_0001.png) no-repeat center center;
}
hr {
    border: 1px solid #f6a4a6;
    width: 100%;
    margin: 5px 0;
}
#left-text {
    padding-top: 30px;
    width: 50%;
    float: left;
}
#right-video {
    padding-top: 30px;
    width: 50%;
    float: right;
}
#paragraph-box {
    font-family: Nunito, sans-serif;
    font-size: medium;
    border: none;
    border-radius: 10%;
    padding: 4px;
    background-color: #676eb2;
    color:#fff;
    text-align: left;
}
#left-side {
    padding-top: 30px;
    width: 50%;
    float: left;
}
#right-side {
    padding-top: 30px;
    width: 50%;
    float: right; 
}
#left-circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #676eb2;
    border-width: 1px;
    border-radius: 50%;
    float: left;
}
#right-circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #676eb2;
    border-width: 1px;
    border-radius: 50%;
    float: right;
}
#left-circle-cover {
    background: url(../images/logo-girl-300x300px.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}
#right-circle-cover {
    background: url(../images/logo-boy-300x300px.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}